<!DOCTYPE html>
<html lang={{ .Site.Language }}>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="container">
            {{- block "main" . }}{{- end }}
            {{- partial "footer.html" . -}}
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var email_three = 'ac.com'
        var email_one = 'rich'
        var email_two = 'lyon@m'
        
        var $email_link = document.querySelector('.email')
        $email_link.href = 'mailto:' + email_one + email_two + email_three
        $email_link.textContent = email_one + email_two + email_three      
    </script>
</html>
