{{ define "main" }}
<h1 class="topic-title">{{ .Title }}</h1>
{{ .Params.description | markdownify }}
<hr />
<div class="index">
    <!-- Entry list -->
        {{ range (.Pages.GroupByDate "January 2006") }}
        {{ $posts := (where .Pages "Section" "essays")}}
        {{ if gt (len $posts) 0 }}
        <h1 class="fs-5 pt-4">{{ .Key | upper }}</h1>
        {{ end }}
        <ul class="list-group list-group-flush">
            {{ range $posts }}
            {{ partial "entry-description.html" . }}
            {{ end }}
        </ul>
        {{ end }}
</div>

{{ end }}